@using Entities.ViewModels
@using Microsoft.AspNetCore.Http
@{

    @using Microsoft.AspNetCore.Identity
    @using static Entities.ViewModels.MenuItems
    @inject SignInManager<Entities.Models.QualityControlAutoCoilerUser> SignInManager

    @inject UserManager<Entities.Models.QualityControlAutoCoilerUser> UserManager
    var userpermissions = Context.Session.GetString("UserPermissions");
    var DynamicMenu = Context.Session.GetString("DynamicMenu");
    List<UserPermissionsModel> serializedpermissions = new List<UserPermissionsModel>();
    List<Items> SerializedMenu = new List<Items>();
    if (userpermissions != null)
        serializedpermissions = System.Text.Json.JsonSerializer.Deserialize<List<UserPermissionsModel>>(userpermissions);
    else
        Context.Response.Redirect("/Identity/Account/Login");
    if (DynamicMenu != null)
        SerializedMenu = System.Text.Json.JsonSerializer.Deserialize<List<Items>>(DynamicMenu);
    else
        Context.Response.Redirect("/Identity/Account/Login");
    var controllerName = ViewContext.RouteData.Values["controller"].ToString();
    var actionName = ViewContext.RouteData.Values["action"].ToString();
    var route = $"{controllerName}/{actionName}";
}
<!DOCTYPE html>
<html lang="en" class="loading">
<!-- BEGIN : Head-->
<head>
    <base href="">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="PIXINVENT">
    <title>@ViewData["ProjectName"].ToString() | @ViewData["Title"].ToString()</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/app-assets/img/ico/favicon.ico">
    <link rel="shortcut icon" type="image/png" href="~/app-assets/img/ico/favicon-32.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900|Montserrat:300,400,500,600,700,800,900" rel="stylesheet">
    <!-- BEGIN VENDOR CSS-->
    <!-- font icons-->

    <link rel="stylesheet" type="text/css" href="~/css/style.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css">

    <!-- END VENDOR CSS-->
    <!-- BEGIN APEX CSS-->
    <link rel="stylesheet" type="text/css" href="~/css/app.min.css">

    <!-- END APEX CSS-->
    <style>
        span.menu-title {
            line-height: 2.5;
        }
    </style>
</head>
<!-- END : Head-->
<!-- BEGIN : Body-->
<body data-col="2-columns" class=" 2-columns ">
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <div class="wrapper">


        <!-- main menu-->
        <!--.main-menu(class="#{menuColor} #{menuOpenType}", class=(menuShadow == true ? 'menu-shadow' : ''))-->
        <div data-active-color="white" data-background-color="man-of-steel" data-image="" class="app-sidebar">
            <!-- main menu header-->
            <!-- Sidebar Header starts-->
            <div class="sidebar-header">
                <div class="logo clearfix">
                    <a href="~/" class="logo-text float-left">
                        <!-- <div class="logo-img"><img src="~/Img/logo.png" /></div> -->
                        <span class="text align-middle">@ViewData["ProjectShortName"].ToString()</span>
                    </a><a id="sidebarToggle" href="javascript:;" class="nav-toggle d-none d-sm-none d-md-none d-lg-block"><i data-toggle="expanded" class="toggle-icon ft-toggle-right"></i></a><a id="sidebarClose" href="javascript:;" class="nav-close d-block d-md-block d-lg-none d-xl-none"><i class="ft-x"></i></a>
                </div>
            </div>
            <!-- Sidebar Header Ends-->
            <!-- / main menu header-->
            <!-- main menu content-->
            <div class="sidebar-content">
                <div class="nav-container">
                    <ul id="main-menu-navigation" data-menu="menu-navigation" data-scroll-to-active="true" class="navigation navigation-main">
                        <li class="nav-item">
                            <a href="~/">
                                <i class="ft-home"></i>
                                <span data-i18n="" class="menu-title">Home</span>
                            </a>
                        </li>
                        @foreach (var item in SerializedMenu)
                        {
                            if (item.SubMenuItems.Count > 0)
                            {
                                <li class="has-sub nav-item">
                                    <a href="#"><i class="ft-edit"></i><span data-i18n="" class="menu-title">@item.ItemName</span></a>
                                    <ul class="menu-content">
                                        @foreach (var SubMenuItems in item.SubMenuItems)
                                        {
                                            <li>
                                                <a href="@SubMenuItems.NavigationLink" class="menu-item">
                                                    @SubMenuItems.submenuItem
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
            <!-- main menu content-->
            <div class="sidebar-background"></div>
            <!-- main menu footer-->
            <!-- include includes/menu-footer-->
            <!-- main menu footer-->
        </div>
        <!-- / main menu-->
        <!-- Navbar (Header) Starts-->
        <nav class="navbar navbar-expand-lg navbar-light bg-faded header-navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <span>Welcome, Hello @UserManager.GetUserName(User)!</span>
                    }
                </div>
                <div class="navbar-container">

                    <div id="navbarSupportedContent" class="collapse navbar-collapse">
                        <ul class="navbar-nav">
                            <li class="dropdown nav-item">
                                <a id="dropdownBasic3" href="#" data-toggle="dropdown" class="nav-link position-relative dropdown-toggle">
                                    <i class="ft-user font-medium-3 blue-grey darken-4"></i>
                                    <p class="d-none">User Settings</p>
                                </a>
                                <div ngbdropdownmenu="" aria-labelledby="dropdownBasic3" class="dropdown-menu text-left dropdown-menu-right">
                                    <a class="dropdown-item"><i class="icon-reload mr-2"></i><span>Change Password</span></a>
                                    <a asp-area="Identity" asp-page="/Account/Logout" class="dropdown-item"><i class="ft-power mr-2"></i><span>Logout</span></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Navbar (Header) Ends-->

        <div class="main-panel">
            <!-- BEGIN : Main Content-->
                    @RenderBody()
            <!-- END : End Main Content-->
            <!-- BEGIN : Footer-->
            <footer class="footer footer-static footer-light">
                <p class="clearfix text-muted text-sm-center px-2"><span>&copy; 2025 <a href="#">@ViewData["ProjectName"].ToString()</a>, All rights reserved. </span></p>
            </footer>
            <!-- End : Footer-->

        </div>
    </div>
    <!-- BEGIN VENDOR JS-->
    <script src="~/js/jquery-3.7.1.min.js" type="text/javascript"></script>
    <script src="~/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/js/moment.min.js" type="text/javascript"></script>
    <script src="~/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
    <script src="~/js/jqBootstrapValidation.js"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN APEX JS-->
    <script src="~/js/app-sidebar.min.js" type="text/javascript"></script>
    <!-- END APEX JS-->
    <script src="~/Scripts/jquery.blockUI.min.js"></script>
    <script src="~/Scripts/CommonJS.js"></script>

</body>
<!-- END : Body-->
</html>
@RenderSection("Scripts", required: false)